<?xml version="1.0" encoding="UTF-8"?>
<!--suppress SpringFacetInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloWorld" class="pl.coderslab.beans.HelloWorld">
        <property name="message" value="Witaj Spring - by setter" />
      <!-- <constructor-arg name="message" value="Witaj Spring"/>-->
    </bean>
    <bean id="EmailService" class="pl.coderslab.beans.EmailService">
        <constructor-arg name="send" value="Sending Email">
        </constructor-arg>
    </bean>

    <bean id="messageSender" class="pl.coderslab.beans.EmailService">
        <constructor-arg name="send" value="Sending FromXML">
            <property name="message" value="Witaj Spring - by setter" />
        </constructor-arg>
    </bean>

</beans>